<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>favoritos</title>
</head>
<body>

    <nav class="navegacion">
    
        <a class="navegacion__enlace" href="index.html">Games</a>
        <a class="navegacion__enlace" href="nosotros.html">About us</a>
        <a class="navegacion__enlace navegacion__enlace--activo" href="favoritos.html">Favoritos</a>
       
  
      </nav>
    
      <main class="contenedor"> 
        <h1>Favoritos</h1>
        <div class="grid">
           <div class="producto">
               <a href="producto.html">
                   <img class="producto__imagen" src="" alt="imagen">
                   <div class="productp__informacion">
                       <p class="producto__nombre">Roblox</p>
                       <p class="producto__precio">25$</p>
                   </div>
               </a>
           </div>  <!-- .producto -->
           <div class="producto">
               <a href="producto.html">
                   <img class="producto__imagen" src="" alt="">
                   <div class="productp__informacion">
                       <p class="producto__nombre">Fornite</p>
                       <p class="producto__precio">25$</p>
                   </div>
               </a>
           </div>  <!-- .producto -->
</body>
</html>