<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Store </title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
     <!-- <header class="header"> 
        <a href="games.html">
            <img class="header__logo" src="img/logo.png" alt="logotipo">
        </a>
    </header>  -->

    <nav class="navegacion">
      <a class="navegacion__enlace " href="index.html">Games</a>
      <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">About us</a>
      <a class="navegacion__enlace" href="favoritos.html">Favoritos</a>
      <button style="background: none;
      border: none;
      margin: right;" id="close-btn" class="navegacion__enlace">Cerrar sesion</button>
    </nav>

    <main class="contenedor"> 
         <h1>About us</h1>

         <div class="nosotros">
             <div class="nosotros__contenido">
               <p> GameFinder es una aplicación web pensada para los fanáticos de los videojuegos que desean descubrir y explorar una amplia variedad de títulos. 
                Cuenta con una base de datos robusta y constantemente actualizada, que incluye juegos de todos los géneros y plataformas. 
                Los usuarios pueden realizar búsquedas filtrando por género,
                 popularidad, fecha de lanzamiento y más, lo que facilita encontrar exactamente el tipo de juego que están buscando.
                 Cada juego viene acompañado de información detallada, imágenes y datos relevantes para ayudar a tomar decisiones informadas.</p> <br>

                <p>Además, GameFinder permite a los usuarios guardar sus juegos preferidos mediante una práctica función de favoritos. 
                    Esto les brinda la posibilidad de crear su propia colección personalizada y acceder fácilmente a ella en cualquier momento. 
                    Con una interfaz moderna, colores llamativos y una experiencia fluida, 
                    GameFinder se presenta como una herramienta esencial para cualquier gamer que
                     quiera mantenerse al día y encontrar su próximo juego favorito con facilidad.</p> 
             </div>
             <div>
            
                <img class="nosotros__imagen" src="img/computer.png" alt="">
            
        
         </div>
    </main>  

    <section class="contenedor comprar">
        <h2 class="comprar__titulo"> ¿Porqué usar GameFinder?</h2>

        <div class="bloques">
            <div class="bloque">
                <img class="bloque__imagen" src="img/1.jpg" alt="imagen">
                <h3 class="bloque__titulo">Gran variedad de juegos</h3>
                <p>Explora una extensa base de datos con títulos de todos los géneros, desde clásicos hasta las últimas novedades. </p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/2.jpg" alt="imagen">
                <h3 class="bloque__titulo">Búsqueda personalizada</h3>
                <p>Filtra por género, plataforma, popularidad y más para encontrar exactamente lo que te gusta. </p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/3.jpg" alt="imagen">
                <h3 class="bloque__titulo">Favoritos al instante</h3>
                <p>Guarda tus juegos preferidos en una lista personalizada y accede a ellos fácilmente cuando quieras</p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/4.jpg" alt="imagen">
                <h3 class="bloque__titulo">Interfaz gamer moderna</h3>
                <p>Disfruta de una experiencia visual atractiva, rápida y pensada especialmente para jugadores como tú. </p>
            </div>  <!--.bloque-->
        </div> <!--.bloques-->
    </section>

    <script src="nosotros.js"></script>
    
</body>
</html>