<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Store </title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
     <!-- <header class="header"> 
        <a href="games.html">
            <img class="header__logo" src="img/logo.png" alt="logotipo">
        </a>
    </header>  -->

    <nav class="navegacion">
      <a class="navegacion__enlace " href="index.html">Games</a>
      <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">About us</a>
      <a class="navegacion__enlace" href="favoritos.html">Favoritos</a>

    </nav>

    <main class="contenedor"> 
         <h1>About us</h1>

         <div class="nosotros">
             <div class="nosotros__contenido">
               <p> Phasellus pharetra ultricies egestas. Vestibulum nibh lacus,
                 dapibus eget gravida in, varius at neque
                Proin ultricies urna metus, sed sodales justo sagittis quis.
                ultrices bibendum neque scelerisque. Vivamus at sapien vel orci semper vestibulum.
                 Pellentesque ultrices nec turpis a eleifend.</p>

                <p>Nunc at viverra risus, sed sollicitudin ante. Cras consectetur lorem ut ultricies dignissim.
                 Integer eget enim nec sem ultrices suscipit quis eget 
                 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                 Donec suscipit risus non eros egestas varius. Aenean dapibus laoreet gravida.
                Nam vel orci vulputate nunc sagittis luctus non nec erat.</p> 
             </div>
             <img class="nosotros__imagen" src="" alt="imagen ">
         </div>
    </main>

    <section class="contenedor comprar">
        <h2 class="comprar__titulo"> ¿Porqué usar GameFinder?</h2>

        <div class="bloques">
            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_1.png" alt="imagen">
                <h3 class="bloque__titulo">La mejor guia para encontrar juegos</h3>
                <p>Nunc at viverra risus, sed sollicitudin ante. 
                   Integer eget enim nec sem ultrices suscipit quis eget </p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_2.png" alt="imagen">
                <h3 class="bloque__titulo">Compartir opiniones</h3>
                <p>Nunc at viverra risus, sed sollicitudin ante. 
                   Integer eget enim nec sem ultrices suscipit quis eget </p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_3.png" alt="imagen">
                <h3 class="bloque__titulo">Espacio para guardar tus favoritos</h3>
                <p>Nunc at viverra risus, sed sollicitudin ante. 
                   Integer eget enim nec sem ultrices suscipit quis eget </p>
            </div>  <!--.bloque-->

            <div class="bloque">
                <img class="bloque__imagen" src="img/icono_4.png" alt="imagen">
                <h3 class="bloque__titulo">Juegos detallados</h3>
                <p>Nunc at viverra risus, sed sollicitudin ante. 
                   Integer eget enim nec sem ultrices suscipit quis eget </p>
            </div>  <!--.bloque-->
        </div> <!--.bloques-->
    </section>

    
    
</body>
</html>